<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <table border="1" id="mytable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nama tempat wisata</th>
                    <th>Lokasi</th>
                    <th>Harga</th>
                    <th>URL Foto</th>
                    <th>Deskripsi</th>
                </tr>
            </thead>
            {{#each results}}
            <tbody>
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ nama_tempat_wisata}}</td>
                    <td>{{ harga }}</td>
                    <td>{{ lokasi }}</td>
                    <td>{{ urlimage }}</td>
                    <td>{{ deskripsi }}</td>
                    <td>
                        <a href='/edit/{{ id }}'>Edit</a>
                        <a href='/delete/{{ id }}'>Delete</a>
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>

        <!--
        <form action="/delete" method="delete">
            <div id="DeleteModal">
                <h5>Delete List</h5>
                <strong>Anda yakin mau menghapus data ini?</strong>
                <input type="hidden" name="id" class="id2" required>
                <button type="button" data-dimiss="modal">Close</button>
                <button type="submit">Delete</button>
            </div>
        </form>
        -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <!--
        <script>
            $(document).ready(function(){
                //tampilkan modal hapus record
                $('#mytable').on('click','delete',function(){
                    let id = $(this).data('id');
                    $('#DeleteModal').modal('show');
                    $('id2').val(id);
                });
            });
        </script>
        -->
    </body>
</html>